.redtext{
	color:#f44336;
}

legend#payment-limit {
    font-size: 10px;
	margin-top:20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-size: 18px !important;
    text-align: center;
}

form#form-send-loan {
    text-align: center;
    margin-bottom: 0;
}

form button {
    width: 100%;
    height:45px !important;
    line-height:45px !important;
}

span.info {
    display: inline-block;
    color: #888;
    font-size: 12px;
    margin-bottom: 28px;
    background: #eaeaea;
    padding: 6px 10px;
    border-radius: 4px;
}

.range-field {
    margin: 0;
}

.card{
	padding:20px;
}

form button i {
    background: #00000073;
    padding: 2px 16px;
    left: 16px;
}

.btn i, .btn-flat i, .btn-floating i, .btn-large i {
    top: 0px !important;
}

input:not([type]), input[type=date]:not(.browser-default), input[type=datetime-local]:not(.browser-default),
 input[type=datetime]:not(.browser-default), input[type=email]:not(.browser-default), input[type=number]:not(.browser-default),
 input[type=password]:not(.browser-default), input[type=search]:not(.browser-default), input[type=tel]:not(.browser-default),
 input[type=text]:not(.browser-default), input[type=time]:not(.browser-default), input[type=url]:not(.browser-default), textarea.materialize-textarea {
    width: 91% !important;
}
